<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Commute</title>
</head>

<body>

<div class="container">

    <hr>
    <h3>Commute Form</h3>
    <hr>

    <p class="h4 mb-4">Save Commute</p>

    <form action="#" th:action="@{/commute/save}" th:object="${commute}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{option}"
               class="form-control mb-3 col-4" placeholder="Option">
        <span style="color:red" th:if="${#fields.hasErrors('option')}" th:errors="*{option}">Option Error</span>

        <select name="job" class="form-control mb-3 col-4">
            <option  th:each="tempJob : ${job}" th:value = "${tempJob.id}" th:text="${tempJob.title}"/>
        </select>
        <br>
        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/job/list}">Back to Job List</a>

</div>

</body>

</html>