<!DocType HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Job</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
<div class="container">

    <hr>
    <h3>Job</h3>
    <hr>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Pay</th>
            <th>Skills</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempJobs:${jobs}">
            <td th:text="${tempJobs.title}"/>
            <td>
            <span th:each="tempLocations,iterStat:${locations}"
                  th:text="${tempLocations.name} + ${!iterStat.last ? ', ' : ''}"></span>
            </td>
            <td th:text="${tempJobs.pay}"/>
            <td>
            <span th:each="tempSkills,iterStat:${skills}"
                       th:text="${tempSkills.name} + ${!iterStat.last ? ', ' : ''}"></span>
            </td>

           <td >
                <a sec:authorize="hasRole('ROLE_SEEKER')" th:href="@{/job/saveAJob(jobId=${tempJobs.id})}"
                   class="btn btn-info btn-sm">
                    Save
                </a>
               <a sec:authorize="hasRole('ROLE_SEEKER')" th:href="@{/job/unsaveAJob(jobId=${tempJobs.id})}"
                  class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure want to unsave this job?')) return false;">
                   Unsave
               </a>
               <a sec:authorize="hasRole('ROLE_RECRUITER')" th:href="@{/job/delete(jobId=${tempJobs.id})}"
                  class="btn btn-danger btn-sm" onclick="if(!confirm('Are you sure want to delete this job?')) return false;">
                   Delete
               </a>
               <a sec:authorize="hasAnyRole('ROLE_RECRUITER','ROLE_SEEKER')"  th:href="@{/commute/showCommute(jobId=${tempJobs.id})}"
                  class="btn btn-info btn-sm">
                   Commute Options
               </a>


            </td>


        </tr>
        </tbody>

    </table>
    <hr><br>
    <a th:href="@{/job/list}" class="btn btn-primary btn-sm mb-3">Show all jobs</a>
    <br>
    <a href="javascript: document.logoutForm.submit()" role="menuitem" class="btn btn-danger btn-sm">Logout</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>

</div>

</body>

</html>